/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* common css */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
   
}
.container{
    padding: 20px 30px;
    margin-top: 30px;
}
.primary-button{
    width: 196px;
    height: 44px;
    font-size: 16px;
    font-weight: bold;
    background-color: #E02C6D;
    color: white;
    border: 0;
    border-radius: 41px;
    cursor: pointer;
    box-shadow: 0 7px 0 #611430;
    position: relative;
    top: 0;
}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #611430;
}
span{
    color: orange;
    font-weight: bold;
}

/* header css */

.navigation{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
   
}
nav .navigation .nav-title{
    font-size: 24px;
    color:  #3A3A3A;
}
nav .navigation .anchor a{
    text-decoration: none;
    margin: 10px 15px;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 600;
    color:  #3A3A3A;
}

/* influencer css */

.influencer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.influencer-left{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 80%;

}
.influencer-left h1{
    font-size: 52px;
    font-weight: bold;
}
.influencer-left p{
   font-size:16px;
   line-height: 1.5;
   
}
.influencer-right{
    background-image: url("../images/Circle design.svg");
    background-repeat: no-repeat;
    background-position: center;
   
}
.influencer-right, img{
    width: 100%;
    justify-content: center;
    align-items: center;
  
    
    
}


/* collection css */

.collection .collection-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    gap: 30px;
    justify-content: center;
    
    
}
.item{
    width: 300px;
    height: 476px;
    padding: 17px 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 20px rgba(3, 3, 3, 0.05);
}
.item .item-pic img{
    width: 300px;
    height: 256px;
    padding: 0;
}
.fa-star.filled{
    font-size: 16px;
    color: rgb(255, 167, 3);
}
.fa-star.empty{
    font-size: 16px;
    color: #AAAAAA;
}
.right-note{
    text-align: end;
    padding-top: 20px;
    padding-right: 85px;
}
.right-note a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #E02C6DDE;
}

/* Special-shop */

.super-shop{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.shop-photo, .shop-detail{
    padding: 10px 20px;

}
.shop-photo{
    background-image: url("../images/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;

}
.shop-photo img{
    width: 100%;
}

.shop-title{
    font-size: 38px;
}

/* footer */

footer{
    width: 100%;
    height: 160px;
    background-color: rgb(2, 2, 27);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
footer h3{
    font-size: 24px;
}
footer p{
    font-size: 14px;
}
.footer-anchor a{
    color: white;
    background-color: rgba(83, 63, 63, 0.582);
    border-radius: 40%;
    padding: 5px 5px;
}

/* Media quries */

/* mobile devices */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    nav .navigation .anchor{
        display: none;
    }
    .influencer{
      
        grid-template-columns: 1fr;
        gap:30px;
    }
    .items{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .super-shop{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* tablet devices */
    @media only screen and (min-width:689px) and (max-width:992px) {
        .container{
            width: 100%;
        }
        nav .navigation .anchor{
            display: none;
        }
        .influencer{
          
            grid-template-columns: 1fr;
            gap:30px;
        }
        .items{
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;

        }
        .super-shop{
            display: flex;
            flex-direction: column;
             justify-content: center;
             align-items: center;
        }
        
    
}